body{
    text-align: center;
    padding-top: 800px;
}
#tim{
    width: 175px;
    border-radius: 50%;
    margin-bottom: 50px;     
}
.outer{
    position: absolute;
    overflow: hidden;
    height: 800px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: table;
    background: linear-gradient(red 0%, blue 100%);
}
.inner{
    display: table-cell;
    position: relative;
    vertical-align: middle;
    color: white
}
.menu{
    top:0px;
    position:fixed;
    z-index: 10;
    cursor: pointer;
    background: white;
    width: 100%;
    margin-top: 0;
}
.link{
    display: inline;
    color:white;
    padding-left: 10px;
    text-transform: uppercase;
    font-size: 20px;
}
.link:hover{
    font-size: 25px;    
}
h2{
    font-family: 'Itim', cursive;
}
a{
    text-decoration: none;
    color: black;
    font-family: 'Itim', cursive;
}